@import "vendor/materialize";
//Montserrat


$yellow: #F7B617;
$gris: #2B2B2B;
$white: #fff;
%flex {
 display: flex;
 justify-content: center;
 align-items: center;
}

%container {
 width: 90%;
 margin: 0 auto;
 box-sizing: border-box;
}

@mixin width-container() {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}

.nav {
  background-color: $white;
  &__icon-menu {
    width: 70px;
  }
}

@for $i from 2 through 6 {
  .news-type-#{$i} {
    position: relative;
    color: $white;
    .container-news {
      line-height: 0;
      div {
        height: 80px;
        width: 100%;
        background-color: $gris;
        bottom: 0;
        padding: 3% 5%;
        h5 {
          font-size: 1.2rem;
        }
      }
    }
  }
}

.container {
  &__video{
    position: absolute;
    top: 20px;
    right: 25px;
  }
}

.news {
  &-type-1 {
    position: relative;
    .container-news {
      color: $white;
      div {
        position: absolute;
        width: 75%;
        bottom: 0;
        padding: 2% 5%;
      }
    }
  }
  &-type-4{
    position: relative;
  }

  &-type-5 {
    margin-top: 1.5%;
    .container-news {
      height: 80px;
      div {
        width: 60%;
        position: absolute;
        right: 2%;
      }
      img {
        height: 100%;
        width: 40%;
      }
    }
  }
}

.header {
 &__menuDesk {
   @extend %flex;
   justify-content: space-between;

   margin-bottom: 14px;
   ul li{
     display: inline-block;
   }
 }
 &__logo {
   @extend %flex;
   flex-flow: column wrap;
   justify-content: space-between;
   margin: 20px 0;
   height: 100px;
 }
 &__menu-mobile {
   border-bottom: 2px solid #F7B617 ;
   padding: 10px 0;
   height: 77px;
   margin-bottom: 30px;
   text-align: center;
   .logo{
     display:inline;
     img{
       width: 60%;
     }
   }
   .search {
     margin-top: 7px;
     float: right;
   }
 }

 &__navigation{
   background-color: #F7B617 ;
   padding: 10px 0;
   ul {
     @extend %flex;
     justify-content: space-around;
     li {color: #fff;}
   }
 }
}

.footer {
 @extend %flex;
 background-color: #F7B617 ;
 p,a,span {
   color: #fff;
   font-size: .8rem;
 }

 &__content {
   @extend %flex;
   justify-content: center;
   align-items: flex-start;
   flex-flow: column wrap;
   padding-left: 20px;
   height: 300px;
   border-left: 1px solid #ffffff ;
   ul li {
     line-height: 14px;
     margin-bottom: 20px;
   }
 }
}

.categoria {
   margin-bottom: 30px;
   position: relative;
   hr {
     position: absolute;
     bottom: -14px;
     width: 60px;
     height: 7px;
     background-color: #F7B617 ;
     border: none;
     text-align: left;
   }
 }

@media (max-width: 767px) {
 // Header
 .show-xs {
   display: block;
 }
 .hidden-xs {
   display: none;
 }
}

.carrousel-workspace {
 min-height: 20vh;
 display: flex;
 overflow: hidden;
 border:2px solid $yellow;
 margin-bottom: 15px;
 position: relative;
}

.carrousel-container{
   margin: auto;
   max-width: 250px;
}

.carrousel {
 display: flex;
 width: 400%;
}

.images{
 width: 100%;
}

img.content{
 width: 100%;
 height: 100px !important;
 display: block;
}

.btn-left,
.btn-right{
 background: $yellow;
 position: absolute;
 top: 30%;
 cursor: pointer;
 padding: 7px 5px 1px 5px;
}

.btn-left:hover,
.btn-right:hover{
 background: rgba(0, 0, 0, 0.5);
 color: #fff;
}

.btn-left{
 left: 0;
}

.btn-right{
 right: 0;
}
